.supplier-form, .order-form, .manage-Couriers-form, .manager-form {
  color: white;
}



thead {
  text-align: left;
  border: 1px solid #8a8a8a;
  color: rgb(30, 30, 30);
  font-weight: bold;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 70%;
  color: rgb(30, 30, 30);
  font-size: 25px;
  border: 1px solid #8a8a8a;
}

th, td {
  border: 1px solid #8a8a8a;
  padding: 10px;
}

.buttons-section {
  width: 70%;
  margin: auto;
  text-align: right;
  margin-bottom: 10px;
}

.buttons-section > a {
  margin-left: 15px;
  color: white;
}

.form-body {
  width: 70%;
  margin: auto;
}

.new-order-form {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #8a8a8a;
}

